<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cards</title>
    <link rel="stylesheet" href="list.css">
  </head>
  <body>
   <center>
    <p>Name : <%= name %></p>
     <p>Login name : <%= login %> </p>
     <p>ID no : <%= id %> </p>
     <p>URL : <%= url %> </p>
     <p>public_gists : <%= public_gists %> </p>
     <p>Followers : <%= followers %> </p>
     <p>Following : <%= following %> </p>
     <p>Public Repos : <%= public_repos %> </p>
     <p>Public gists : <%= public_gists %> </p>
     <p>Twitter username : <%= twitter_username %> </p>
   </center>

  </body>
</html>
